{% extends 'base.html' %}

{% block conteudo %}
{% if rows %}
<div class="table_wrapper">
    <table>
        <thead>
            <td class="hidden">uuid</td>
            <td>Nome</td>
            <td>Status</td>
        </thead>
        <tbody id="table_content">
            {% for cell in rows %}
            <tr class="table_row">
                <td id="uuid" class="cell hidden">{{ cell["uuid"] }}</td>
                <td class="cell">{{ cell["name"] }}</td>
                <td class="cell"> {{ cell["status"]}}</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
    {% else %}
    <div class="wrapper">
        <p>Nenhum hóspede encontrado no banco de dados.</p>
    </div>

    {% endif %}
    <div class="btn_wrapper">
        <button class="submit_btn">Cadastrar</button>
    </div>

</div>

<script src="{{url_for('static', filename='accommodations.js')}}"></script>

</script>

{% endblock %}