{% extends 'base.html' %}

{% block conteudo %}

<body style="font-family:Verdana;color:#aaaaaa;">

    <div style="overflow:auto">
        <div class="menu">
            <a href="/index">Pagina Inicial</a> 
            <a href="/cadastroHospedes">Cadastro Hóspedes</a> 
            <a href="/alteraHospedes">Alteração Hóspedes</a> 
            <a href="/cadastroAcomodacoes">Cadastro Acomodações</a> 
            <a href="/alteraAcomodacoes">Alteração Acomodações</a> 
            <a href="/cadastroComodidades">Cadastro Comodidades</a> 
            <a href="/cadastroReservas">Cadastro Reservas</a> 
        </div>

        <div class="main">
            <h1>Alteração Acomodações</h1>
            <form method="POST">
                <p>
                    <label for="status">Status</label><br>
                    <select name="status" id="status" required >
                        <option value="" hidden></option>
                        <option value="disponivel">Disponível</option>
                        <option value="indisponivel">Indisponível</option>
                        <option value="manutencao">Manutenção</option>
                    </select>
                </p>
                <p>
                    <label for="name">Nome</label><br>
                    <input type="text" id="name" name="name" required>
                </p>
                <p>
                    <label for="total_guests">Total de Hóspedes</label><br>
                    <input type="number" id="total_guests" name="total_guests" required>
                </p>
                <p>
                    <label for="single_beds">Camas de Solteiro</label><br>
                    <input type="number" id="single_beds" name="single_beds" required>
                </p>
                <p>
                    <label for="double_beds">Camas de casal</label><br>
                    <input type="number" id="double_beds" name="double_beds" required>
                </p>
                <p>
                    <label for="min_nights">Mínimo de Noites</label><br>
                    <input type="number" id="min_nights" name="min_nights" required>
                </p>
                <p><input type="submit" value="Buscar" class="button button2">
                    <input type="submit" value="Alterar" class="button button1">
                    <input type="submit" value="Excluir" class="button button3">
                </p>
            </form>
        </div>
    </div>

</body>


{% endblock %}