{% extends 'base.html' %}

{% block conteudo %}
<div class="form_wrapper">
    <form class="form">
        <div class="row_group">
            <div class="row">
                <label for="document">Documento</label>
                <input disabled type="text" id="document" name="document" size="30" value="{{guest['document']}}"
                    required>
            </div>
            <div class="row">
                <label for="created_at">Criado em:</label>
                <input disabled type="text" id="created_at" name="created_at" size="30" value="{{guest['created_at']}}">
            </div>
        </div>
        <div class="row_group">
            <div class="row">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" size="30" value="{{guest['name']}}" required>
            </div>
            <div class="row">
                <label for="surname">Sobrenome</label>
                <input type="text" id="surname" name="surname" size="30" value="{{guest['surname']}}" required>
            </div>
        </div>
        <div class="row_group">
            <div class="row">
                <label for="country">País</label>
                <input type="text" id="country" name="country" size="30" value="{{guest['country']}}" required>
            </div>
            <div class="row">
                <label for="phone">Telefone</label>
                <input type="text" id="phone" name="phone" size="30" value="{{guest['phone']}}" required>
            </div>
        </div>
    </form>

    <div class="submit_btn_wrapper">
        <button class="submit_btn" type="button" value="Alterar">Salvar</button>
    </div>
</div>


<script src="{{url_for('static', filename='updateGuest.js')}}"></script>
{% endblock %}