<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pousada Quinta do Ypuã</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <img id="cover" src="{{ url_for('static', filename='1.jpg')}}" alt="Pousada Quinta do Ypuã">
        <div id="nav_container">
            <h1><a href="/">Quinta do Ypuã</a></h1>
            <nav>
                <a href="/hospedes">Hóspedes</a>
                <a href="/">Acomodações</a>
                <a href="/">Reservas</a>
            </nav>
        </div>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>&copy; Quinta do Ypuã - todos os direitos reservados</footer>
</body>

</html>