{% extends 'base.html' %}

{% block conteudo %}

<body style="font-family:Verdana;color:#aaaaaa;">

    <div style="overflow:auto">
        <div class="menu">
            <a href="/index">Pagina Inicial</a> 
            <a href="/cadastroHospedes">Cadastro Hóspedes</a> 
            <a href="/alteraHospedes">Alteração Hóspedes</a> 
            <a href="/cadastroAcomodacoes">Cadastro Acomodações</a> 
            <a href="/alteraAcomodacoes">Alteração Acomodações</a> 
            <a href="/cadastroComodidades">Cadastro Comodidades</a> 
            <a href="/cadastroReservas">Cadastro Reservas</a> 
        </div>

        <div class="main">
            <h1>Cadastro Comodidades</h1>
            <form method="get" action="cadastroComodidades">
                <p>
                    <label for="acomodacao">Acomodação</label><br>
                    <select name="acomodacao" id="acomodacao" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </p>
                <p>
                    <label for="amenitie">Comodidade</label><br>
                    <input type="text" id="amenitie" name="amenitie" size="30" required>
                </p>
                <p><input type="submit" value="Cadastrar" class="button button1"></p>
            </form>
        </div>
    </div>

</body>


{% endblock %}