{% extends 'base.html' %}

{% block conteudo %}
{% if rows %}
<div class="table_wrapper">
    <table>
        <thead>
            <td>Documento</td>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>País</td>
            <td>Telefone</td>
        </thead>
        <tbody id="table_content">
            {% for cell in rows %}
            <tr class="table_row">
                <td id="document" class="cell">{{ cell["document"] }}</td>
                <td class="cell">{{ cell["name"] }}</td>
                <td class="cell"> {{ cell["surname"]}}</td>
                <td class="cell">{{ cell["country"] }}</td>
                <td class="cell">{{ cell["phone"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
    <div class="wrapper">
        <p>Nenhum hóspede encontrado no banco de dados</p>
    </div>
    {% endif %}
    <div class="btn_wrapper">
        <button class="submit_btn">Cadastrar</button>
    </div>

</div>


<script src="{{url_for('static', filename='guests.js')}}"></script>

</script>

{% endblock %}