{% extends 'base.html' %}

{% block conteudo %}
<div class="search_wrapper">
    <select class="resource_menu" name="resource" id="resource">
        <option value="hospede">Hóspede</option>
        <option value="reserva">Reserva</option>
    </select>
    <input class="search_field" name="search" id="search" type="text" placeholder="Faça sua busca...">
    <button type="button" class="search_btn" id="search_btn">Procurar</button>
</div>


<div class="booking_btn_wrapper">
    <button class="booking_btn">Faça uma reserva!</button>
</div>

<script src="{{url_for('static', filename='index.js')}}"></script>

</script>
{% endblock %}