{% extends 'base.html' %}

{% block conteudo %}
<div class="form_wrapper">
    <form class="form">
        <div class="row hidden">
            <label for="uuid">uuid</label>
            <input type="text" id="uuid" name="uuid" value="{{booking['uuid']}}" disabled>
        </div>
        <div class="row">
            <label for="created_at">Criado em:</label>
            <input type="text" id="created_at" name="created_at" minlength="5" value="{{booking['created_at']}}"
                disabled>
        </div>
        <div class="row_group">
            <div class="row">
                <label for="name">Status</label>
                <input type="text" id="name" name="name" minlength="5" value="{{booking['name']}}" required>
            </div>
            <div class="row">
                <label for="total_guests">Check in</label>
                <input type="number" id="total_guests" name="total_guests" value="{{booking['total_guests']}}"
                    required>
            </div>
        </div>
        <div class="row_group">
            <div class="row">
                <label for="single_beds">Check out</label>
                <input type="number" id="single_beds" name="single_beds" value="{{booking['single_beds']}}"
                    required>
            </div>
            <div class="row">
                <label for="double_beds">Documento</label>
                <input type="number" id="double_beds" name="double_beds" value="{{booking['double_beds']}}">
            </div>
        </div>
        <div class="row_group">
            <div class="row">
                <label for="min_nights">Nº Acomodação</label>
                <input type="number" id="min_nights" name="min_nights" value="{{booking['min_nights']}}" required>
            </div>
           
        </div>
        <div class="amenitie_list">

        </div>

        <div class="btn_wrapper">
            <button class="submit_btn" type="submit">Salvar</button>
            <button class="delete_btn" type="button">Excluir</button>
        </div>
    </form>
    <p class="err_msg hidden"></p>
</div>

<script src="{{url_for('static', filename='updateAccommodation.js')}}"></script>
{% endblock %}